.tableIcon {
    margin-left: 3px;
    cursor: pointer;
}

.viewLogsLink {
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    float: left;
    margin-right: 30px;
}
.viewLogsLink:HOVER {
    text-decoration: none;
}

.downloadAgentIcon {
    float: right;
    cursor: pointer;
    margin-right: 10px;
}

.agentStatusMessage {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width:95%;
}